body {
  font-family: "Lora", serif;
}

.container {
  background-image: url("https://image.freepik.com/free-vector/sky-heaven-nature-sunset-sunrise_107791-583.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border: 1px solid #9bc7ec;
  border-radius: 20px;
  background-color: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  max-width: 50%;
  margin: 15px auto 0;
}

.weeklytemperature .card,
.card-header,
.card-footer {
  background-color: transparent;
  border: transparent;
}

.weeklytemperature .card img {
  width: 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.weeklytemperature .col {
  text-align: center;
}

.source-code {
  display: block;
  margin: 0 auto;
  text-align: center;
}
