h1 {
  text-align: left;
  padding-top: 20px;
}

ul {
  list-style-type: none;
  font-size: 15px;
}

input {
  margin: 13px auto 0 110px;
  border: #aed0e9;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.7);
}

a:hover {
  text-decoration: none;
}

.active {
  color: black;
  cursor: default;
}

.currentdayweather .card {
  background-color: transparent;
  border: none;
}

.card-deck img {
  width: 75px;
}

.line {
  width: 55px;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: start;
}

li:first-letter {
  text-transform: capitalize;
}
.searchbutton .btn {
  margin: 13px auto 0 -11px;
  background-color: #9bc7ec;
  border: #4664fd;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.7);
  transition: 0.3s all ease-in-out;
}

.searchbutton .btn:hover {
  background-color: #2d4ffc;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
